body { background-color: #fff; color: #000; font-size: 16px; font-family: sans-serif; }
#container { width: 1000px; margin: 0 auto; }
#header { clear: both; overflow: auto; }
#header #logo { clear: both; overflow: auto; }
#header #logo img { height: 150px; float: left; }
#header #logo span { font-size: 32px; float: left; margin: 75px 0 0 25px; }
#header #menu { background-color: #006699; padding: 0 10px; margin-top: 5px; }
#header #menu ul { list-style: none; padding: 0; margin: 0; }
#header #menu ul li { display: inline; float: left; }
#header #menu ul li a { display: block; padding: 20px 30px; background-color: #006699; color: #fff; text-decoration: none; border-right: 1px solid #fff; font-weight: bold; }
#header #menu ul li.active a { color: #000; background-color: #fff; border: 1px solid #000; border-bottom: 0; margin-top: -5px; padding-top: 24px; border-top-left-radius: 5px; border-top-right-radius: 5px; }
#main { padding: 20px 0; }
.box { background-color: #efefef; border: 1px solid #333; float: left; padding: 20px; width: 400px; }
label { background-color: #006699; padding: 10px; width: 100px; display: inline-block; color: #fff; margin-bottom: 8px; font-weight: bold; }
input { border-radius: 3px; border: 1px solid #aaa; padding: 5px 7px; }
input[type="submit"] { padding: 10px 15px; font-weight: bold; background-color: #ddd; float: right; }

.msg { border: 1px solid #999; padding: 8px 16px; margin: 10px 0; background-color: #eee; }
.msg.success { border-color: #446423; background-color: #eff5ea; color: #3d6611; }
.msg.notice { border-color: #fcd344; background-color: #fafaec; color: #e26703; }
.msg.error { border-color: #f16048; background-color: #faebe7; color: #df280a; }

.leftalign { float: left; }
.rightalign { float: right; }

.red { color: #ff5555; }
